.bedRoom {
  background-color: $light;
  margin-bottom: 40px;
  width: 100%;

  h4 {
    font-weight: 500;
    line-height: 30px;
    width: 280px;
  }

  p {
    float: left;
    line-height: 30px;
    margin-top: -86px;
    margin-left: 350px;
  }

  .price {
    float: left;
    line-height: 30px;
    margin-top: -50px;
    margin-left: 338px;
  }

  .imageRoom {
    border-radius: 50px 0px 0px 0px;
    width: 100%;
  }
}

.bedRooms {
  float: left;
  overflow: hidden;
}

.roomList {
  display: flex;
  float: left;
  width: 1198px;
}

.cardBedroom {
  width: 1294px;
  margin-left: 306px;
}

.arrowRoom {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 160px;
}

.cardRoom {
  display: inline flow-root;
  width: 390px;
}

.cardRoom + .cardRoom {
  margin-left: 14px;
}

.hide {
  margin-left: -67.55%;
}

