.gallery {
  width: 610px;
}

.gallery-content{
  height: 444px;
  margin-bottom: 20px;
  width: 600px;
}

#big-image {
  border-radius: 2%;
  height: 444px;
  width: 100%;
}

.wrapper-gallery {
  margin-left: 0px;
}

.ocultar {
  margin-left: -68.8%;
}
.gallery-list {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 498px;
}

.gallery-list li {
  height: 100%;
  width: 250px;
}

.gallery-list li + li{
  margin-left: 15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.gallery-list-img img {
  height: 88px;
  width: 156px;
}

img {
  border-radius: 10px;
}

.gallery-prev {
  float: left;
  margin: 0px;
  overflow: hidden;
  padding: 0px;
}

.flechas {
  float: left;
  margin: 15px 5px 0px 5px;
  cursor: pointer;
}

.gallery-js {
  float: left;
  padding-left: 80px;
}

.info-destiny {
  float: left;
  width: 490px;
}

.info-destiny p {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
}

.content-destinatinos {
  background-color: $light;
  margin-bottom: 50px;
  padding-bottom: 40px;
}

.content-destinatinos h2 {
  padding-bottom: 30px;
  padding-left: 80px;
  padding-top: 60px;
}
