.navegation span a {
  color: #000;
  font-size: 20px;
  text-decoration: none;
  font-family: $titles;
}

.navegation span a:hover {
  color: #000;
  text-decoration: underline;
}

.navegation span a + a{
  margin-left: 1%;
}
