.container-slide {
  margin: 0;
  position: relative;
}

.image-slide {
  left: 0;
  position: absolute;
  right: 0;
  top: 0px;
  z-index: 1;

  img {
    max-width: 100%;
    width: 100%;
  }

  h1 {
    left: 22%;
    position: absolute;
    top: 500px;
    z-index: 2;
  }
}

.slide-dot {
  left: 48%;
  position: absolute;
  top: 630px;
  width: 13%;
  z-index: 5;
}

.dot{
  background-color: $salmon;
  border-style: none;
  border-radius: 50px;
  float: left;
  margin-right: 10px;
  padding: 8px;

  &:hover {
    background-color: $gray;
  }
}

.dot-active {
  background-color: $light;
}

/*arrows*/
.arrows {
  img {
    width: 5%;
  }
}
#arrow1 {
  left: 5%;
  position: absolute;
  top: 360px;
  z-index: 2;
}

#arrow2 {
  position: absolute;
  top: 360px;
  right: 5%;
  z-index: 2;
}

.js-content-hidden {
  display: none;
}
