.tikets-background {
  margin-bottom: 40px;
}

.img-destinations {
  border-radius: 20px 0px 0px 20px;
  float: left;
  width: 700px;
}

.description-destination {
  background-color: $light;
  float: left;
  height: 390px;
  padding: 20px 80px 20px 40px;
  width: 380px;
}

.description-destination h2, .description-destination p {
  margin-bottom: 80px;
}

.description-destination button {
  float: right;
}

