@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;900&family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');

$titles: 'Poppins', sans-serif;
$buttons: 'Poppins', sans-serif;
$paragraph: 'Roboto', sans-serif;
$cards: 'Rammetto One', cursive;
